// Карактеристики для h2 заголовков
@h2-weight: 300;
@h2-size: 50px;
@h2-height: 68px;

// Карактеристики для простого текста
@text-size: 18px;
@text-height: 30px;
@text-color: #283645;

// Карактеристики для h3 заголовков
@h3-weight: 700;
@h3-size: 30px;
@h3-height: 30px;

// Карактеристики для legend текста

@legend-size: 14px;
@legend-height: 30px;
@legend-color: #D22856;
