.advertisement {
  background-image: url("../img/background/index-background-mobile.png");
  background-color: #202638;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -63px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/index-background-mobile@2x.png");
  }
}

.advertisement__header {
  padding-top: 20px;
  padding-bottom: 314px;
  text-align: center;
  background-image: url("../img/index-mobile/mobile-phone.png");
  background-repeat: no-repeat;
  width: 320px;
  margin: 0 auto;
  background-position: bottom;
  background-position-x: 0;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-mobile/mobile-phone@2x.png");
  }
}

.advertisement__apps {
  background-color: #1d2631;
}

.advertisement__apps-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
}

.advertisement__title {
  color: @primary-color;
  font-weight: @h2-mobile-weight;
  font-size: @h2-mobile-size;
  line-height: @h2-mobile-height;
  margin: 0;
}

.advertisement__button {
  text-decoration: none;
  color: @primary-color;
  font-weight: 700;
  font-size: @text-mobile-size-2;
  line-height: 18px;
  padding: 16px 35px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  margin-top: 29px;
  margin-bottom: 33px;

  &:hover {
    background: #ffffff;
    color: @principal-red-color;
  }

  &:active {
    background: #ffffff;
    color: fade(@principal-red-color, 30%);
  }
}

.advertisement__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.advertisement__link {
  text-decoration: none;
  color: @primary-color;
  font-size: 18px;
  line-height: 18px;
}

.advertisement__icon {
  padding-right: 17px;
  padding-left: 17px;
  margin: 0;

  &--apple {
    fill: #ffffff;
  }

  &--android {
    fill: #a4c639;
  }
}

.advertisement__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @primary-color;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

// TABLET RULES

@media (min-width: @tablet-width) {
  .advertisement {
    background-image: url("../img/background/index-background-tablet.png");
    background-position-y: -110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/index-background-tablet@2x.png");
    }
  }

  .advertisement__wrapper {
    padding-top: 90px;
    padding-bottom: 114px;
    width: 660px;
    margin: 0 auto;
    background-image: url("../img/index-tablet/tablet-phone.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-tablet/tablet-phone@2x.png");
    }
  }

  .advertisement__header {
    width: 300px;
    padding: 0;
    display: flex;
    margin: 0;
    background-image: none;
    margin-left: 21px;
    margin-top: 4px;
  }

  .advertisement__title {
    font-size: 40px;
    line-height: 48px;
  }

  .advertisement__imagen {
    display: none;
  }

  .advertisement__button {
    margin-left: 22px;
    margin-top: 29px;
    margin-bottom: 46px;
    padding: 16px 44px;
  }

  .advertisement__list {
    margin-bottom: 27px;
    margin-left: 50px;
  }

  .advertisement__apps {
    background: none;
  }

  .advertisement__apps-wrapper {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-start;
  }

  .apple-icon {
    padding-left: 0;
  }

  .advertisement__legend {
    margin-bottom: 0;
    margin-left: 23px;
    font-size: 18px;
  }
}

// DESKTOP RULES

@media (min-width: @desktop-width) {
  .advertisement {
    background-image: url("../img/background/index-background-desktop.png");
    background-position-y: -110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/index-background-desktop@2x.png");
    }
  }

  .advertisement__wrapper {
    width: 1052px;
    padding-top: 97px;
    padding-bottom: 127px;
    background-image: url("../img/index-desktop/desktop-phone.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 72px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-desktop/desktop-phone@2x.png");
    }
  }

  .advertisement__header {
    width: 239px;
    margin-top: 0;
    margin-left: 85px;
  }

  .advertisement__title {
    font-size: 50px;
    line-height: 68px;
  }

  .advertisement__apps {
    background: none;
    margin-left: 56px;
  }

  .advertisement__apps-wrapper {
    width: 300px;
  }

  .advertisement__button {
    margin-top: 38px;
    margin-bottom: 68px;
    font-size: 21px;
    padding: 16px 28px;
    margin-left: 0;
  }

  .advertisement__list {
    margin-bottom: 44px;
    margin-left: 31px;
  }

  .advertisement__legend {
    margin-left: 3px;
  }
}
