

.advertisement__header {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advertisement__header {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .advertisement__header {
    width: 300px;
    margin: 0 auto;
  }
}

.advertisement__apps {
  background-color: #1D2631;
}

@media (min-width: @tablet-width) {
  .advertisement__apps {
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .advertisement__apps {
    background: none;
  }
}

.advertisement__apps__wrapper {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .advertisement__apps__wrapper {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .advertisement__apps__wrapper {
    margin: 0 auto;
    width: 300px;
  }
}

.advertisement__title {
  color: @primary-color;
  font-weight: @h2-mobile-weight;
  font-size: @h2-mobile-size;
  line-height: @h2-mobile-height;
  margin: 0;
}

.advertisement__button {
  text-decoration: none;
  color: @primary-color;
  font-weight: 700;
}

.advertisement__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advertisement__link {
  text-decoration: none;
  color: @primary-color;
  font-size: 18px;
  line-height: 18px;
}

.advertisement__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @primary-color;
  margin: 0;
  justify-self: center;
}
