.catalog__header {
  padding-top: 77px;
  padding-bottom: 72px;
  padding-left: 210px;
  padding-right: 210px;
}

.catalog__title {
  font-weight: @h2-weight;
  font-size: @h2-size;
  line-height: @h2-height;
  color: #ffffff;
}

.catalog__wrapper {
  background-color: #ffffff;
}

.catalog__text {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
  padding-left: 222px;
  padding-right: 222px;
  padding-bottom: 95px;
}


.catalog__post {
  background-color: #f2f2f2;
}

.post__user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
}

.post__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @text-color;
}

.post__content {
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
}

.post__like {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
}
