.catalog__header {
  margin: 0 auto;
  width: 172px;
}

.catalog__title {
  font-weight: @h2-mobile-weight;
  font-size: @h2-mobile-size;
  line-height: @h2-mobile-height;
  color: @primary-color;
  margin: 0;
}

.catalog__background {
  background-color: @primary-color;
}

.catalog__text {
  font-size: @text-mobile-size;
  line-height: @text-mobile-height;
  color: @text-color;
  margin: 0 auto;
  text-align: center;
  width: 280px
}

.catalog__post {
  background-color: @secondary-background-color;
}

// TABLET RULES

@media(min-width: @tablet-width) {
  .catalog__header {
    width: 358px;
  }
}

@media(min-width: @tablet-width) {
  .catalog__text {
    width: 620px
  }
}

@media(min-width: @tablet-width) {
  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }
}

// DESKTOP RULES

@media(min-width: @desktop-width) {
  .catalog__header {
    width: 357px;
  }
}

@media(min-width: @desktop-width) {
  .catalog__text {
    width: 572px
  }
}

@media(min-width: @desktop-width) {
  .catalog__wrapper {
    width: 940px;
  }
}



