.communication__wrapper {
  background-
}

.communication__title {
  font-size: @h2-size;
  font-weight: @h2-weight;
  line-height: @h2-height;
  color: @text-color;
}

.communication__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @text-color;
}

.communication__item-content {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @principal-red-color;
}
