.commercial {
  background-color: @secondary-background-color;
}

.commercial__wrapper {
  margin: 0 auto;
  width: 280px;
}

// TABLET RULES

@media (min-width: @tablet-width) {
  .commercial__wrapper {
    width: 616px;
  }
}

