.features__header {
  background-color: @primary-color;
  padding-top: 77px;
  padding-bottom: 72px;
  padding-left: 210px;
  padding-right: 210px;
}

.features__wrapper {
  background-color: @secondary-background-color;
  padding-right: 195px;
  padding-left: 184px;
  padding-bottom: 59px;
}

.features__title {
  font-weight: @h2-weight;
  font-size: @h2-size;
  line-height: @h2-height;
}

.features__list {
  list-style: none;
  padding: 0;
}

.features__item-title {
  font-weight: @h3-weight;
  font-size: @h3-size;
  line-height: @h3-height;
}

.features__item-description {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}
