.filter__header {
}

.filter__wrapper {
  background-color: @primary-color;
}

.filter__title {
  font-weight: @h2-weight;
  font-size: @h2-size;
  line-height: @h2-height;
  color: @primary-color;
}

.filter__text {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}

.filter__span {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}

.filter__button {
}

.filter__legend {
  font-size: @legend-size;
  line-height: @legend-height;
  color: @principal-red-color;
}

.filter__input {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}
