.filter__header {
  padding-top: 77px;
  padding-bottom: 72px;
  padding-left: 210px;
  padding-right: 210px;
}

.filter__wrapper {
  background-color: #ffffff;
}

.filter__title {
  font-weight: @h2-weight;
  font-size: @h2-size;
  line-height: @h2-height;
  color: #ffffff;
}

.filter__text {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
  padding-left: 222px;
  padding-right: 222px;
  padding-bottom: 95px;
}

.filter__span {
  font-size: @legend-size;
  line-height: @legend-height;
  color: @legend-color;
}

.filter__button {
  margin-top: 69px;
}

.filter__legend {
  font-size: @legend-size;
  line-height: @legend-height;
  color: @legend-color;
}

.filter__input {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}

.filter__lable {
  span {
    font-size: @text-size;
    line-height: @text-height;
    color: @text-color;
  }
}
