.footer {
  background-color: @primary-color;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 172px;
  margin: 0 auto;
  justify-content: center;
}

.footer__logo-image {
  padding-bottom: 41px;
}

// TABLET RULES

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: 620px;
  }

  .footer__logo-image {
    padding-bottom: 0;
  }

  .footer__social {
    margin: 0 auto;
  }
}

// DESKTOP RULES

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 940px;
  }
}
