.main-navigation {
  background-color: #283645;
}

.main-navigation__wrapper {
  width: auto;
}

.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list__item {
  text-align: center;
  padding: 24px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

@media (max-width: 1198px) {
  .header--closed .navigation-list__item {
    display: none;
  }
}

.navigation-list__link {
  text-decoration: none;
  color: @primary-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

// DESKTOP RULES

@media (min-width: @desktop-width) {
  .main-navigation {
    background-color: #00000000;;
    margin-left: auto;
    margin-right: 130px;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation-list__item {
    padding: 0;
    box-shadow: none;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: #ffffff;
      }
    }
  }

  .navigation-list__item:nth-child(4n) {
    .navigation-list__link {
      padding-right: 0;
    }
  }

  .navigation-list__link {
    display: block;
    padding: 41px 40px;

    &:hover {
      color: @principal-red-color;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }
}
