.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.post:last-of-type {
  margin-bottom: 49px;
}

.post--current {
  .post__image {
    width: 320px;
    height: 137px;
  }
}

.post__image {
  width: 280px;
  height: 180px;
}

.post__user-information {
  padding-top: 26px;
  padding-bottom: 26px;
  width: 280px;
}

.post__user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  padding-bottom: 14px;
  padding-left: 17px;
}

.post__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @text-color;
}

.post__content {
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  display: block;
  padding-bottom: 25px;
  padding-left: 17px;
}

.post__icon {
  fill: @principal-red-color;
  padding-right: 18px;
  padding-left: 17px;
}

.post__like {
  font-size: 12px;
  line-height: 24px;
  color: @principal-red-color;
}

// TABLET RULES

@media (min-width: @tablet-width) {
  .post {
    width: 300px;
  }

  .post:last-of-type {
    margin-bottom: 20px;
  }

  .post__image {
    width: 300px;
    height: 300px;
  }

  .post__user-information {
    padding-top: 30px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .post__user-name {
    order: 1;
  }

  .post__date {
    order: 2;
  }

  .post__content {
    font-size: 14px;
    line-height: 24px;
    color: @text-color;
    min-height: 48px;
    width: 280px;
    order: 3;
  }

  .post__icon {
    order: 5;
    padding: 0;
  }

  .post__like {
    order: 4;
    padding-right: 139px;
    padding-left: 17px;
  }

  .post--current {
    width: 620px;

    .post__image {
      width: 660px;
      height: 509px;
    }

    .post__user-information {
      width: 560px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    .post__user-name {
      width: 40px;
      order: 1;
    }

    .post__date {
      width: 100px;
      padding-right: 280px;
      order: 2;
    }

    .post__content {
      width: 520px;
      order: 5;
    }

    .post__like {
      width: 90px;
      order: 3;
      padding: 0;
      padding-right: 16px;
    }

    .post__icon {
      order: 4;
      padding: 0;
    }
  }
}

// DESKTOP RULES

@media (min-width: @desktop-width) {
  .post__image {
    height: 400px;
  }

  .post--current {
    width: 940px;

    .post__image {
      width: 1200px;
      height: 506px;
    }

    .post__user-information {
      width: 874px;

      .post__date {
        padding-right: 546px;
      }

      .post__content {
        width: 874px;
      }
    }
  }
}
