.reviews {
  background-color: @primary-color;
  position: relative;
  background-image: linear-gradient( 
  176deg, transparent 85%, #f2f2f2 15%);
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 76px;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.reviews__icon {
  display: none;
}

.reviews__text {
  font-size: @legend-size;
  line-height: @legend-height;
  color: @text-color;
  margin: 0;
  padding-bottom: 44px;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 13px;
}

.reviews__author-decription {
  font-size: @text-mobile-size;
  line-height: @text-mobile-height;
  color: @text-color;
  margin: 0;
}

.reviews__buttons {
  display: none;
}

.reviews-slider {
  margin: 0 auto;
  width: 80px;
}

// MOBILE ONLY RULES

@media (max-width:@mobile-width-only) {
  .reviews__author-decription {
    display: none;
  }
}

// TABLET RULES

@media (min-width:@tablet-width) {
  .reviews__wrapper {
    width: 620px;
  }
  .reviews__author-name {
    order: 2;
    padding-bottom: 17px;
  }

  .reviews__text {
    order: 1;
    padding-bottom: 51px;
  }

  .reviews__author-decription {
    order: 3;
    padding-bottom: 49px;
  }
}

// DESKTOP RULES

@media (min-width:@desktop-width) {
  .reviews__wrapper {
    width: 688px;
  }

  .reviews__icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 58px;
  }

  .reviews__buttons {
    display: flex;
    width: 270px;
    margin: 0 auto;
  }
}
