.reviews__wrapper {
  background-color: @primary-color;
  padding-right: 256px;
  padding-left: 256px;
  padding-bottom: 41px;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}

.reviews__author-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__author-decription {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}
