.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  justify-content: center;
  padding-bottom: 50px;
}

.social__item {
  &--twitter {
    margin-right: 0;
  }

  &--facebook {
    margin-right: 6px;
    margin-left: 10px;
  }

  &--youtube {
    margin-right: 7px;
    margin-left: 3px;
  }
}

.social__link {
  padding: 9px 12px;
  border: 3px solid fade(#283645, 10%);
  border-radius: 28px;

  &--facebook {
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
  }

  &--twitter {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 14px;
  }

  &--youtube {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 14px;
  }

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    border: 3px solid fade(#283645, 10%);
  }
}

.social__icon {
  fill: @principal-red-color;

  &:active {
    fill: fade(@principal-red-color, 10%);
  }
}

// TABLET RULES

@media (min-width: @tablet-width) {
  .footer__logo {
    padding: 0;
  }

  .social__list {
    padding-bottom: 0;
    margin-top: 17px;
  }

  .footer__social {
    margin-left: 58px;
  }

  .copyright {
    margin-top: 9px;
  }
}

// DESKTOP RULES

@media (min-width: @desktop-width) {
  .footer__social {
    margin: 0 auto;
  }
}
