.table__cell-name {
  font-size: @text-size;
  line-height: @text-height;
  font-weight: 700;
  color: #ffffff;
}

.table__cell-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.table__cell {
  font-size: @text-size;
  line-height: @text-height;
  color: @text-color;
}
